@model ResumeMVC.EDMXModel.Person

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>

    @{ Html.RenderPartial("_View"); }


</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
